{% extends 'base/base.html' %}

{% block title %}Modify Supplier{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Modifier fournisseur</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Nom</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label mb-1">Adresse</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label mb-1">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label mb-1">Téléphone</label>
                                {{ form.tel }}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-primary btn-block">
                                    <span id="payment-button-amount"><i class="fa fa-edit"></i>Modifier fournisseur</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}