{% extends 'base/base.html' %}

{% block title %}Create User{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Ajouter utilisateur</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name" class="control-label mb-1">Nom</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="control-label mb-1">Prénom</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label mb-1">Adresse</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label mb-1">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="username" class="control-label mb-1">Login</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label mb-1">Mot de passe</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label for="tel" class="control-label mb-1">Téléphone</label>
                                {{ form.tel }}
                            </div>
                            <div class="form-group">
                                <label for="is_admin" class="control-label mb-1">Admin ?</label>
                                {% for c in form.is_admin %}
                                    <p>{{ c }}</p>
                                {% endfor %}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-primary btn-block mt-3">
                                    <span id="payment-button-amount">Ajouter utilisateur</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}