{% extends 'base/base.html' %}

{% block title %}User List{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Liste des utilisateurs </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Login</th>
                                <th>Admin</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if users %}
                                {% for u in users %}
                                    {% if u.id != user.id %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ u.first_name }}</td>
                                        <td>{{ u.last_name }}</td>
                                        <td>{{ u.address }}</td>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.tel }}</td>
                                        <td>{{ u.username }}</td>
                                        <td>{% if u.is_admin %}oui{% else %}non{% endif %} </td>
                                        <td>
                                            <a href="{% url 'modify_user' user_id=u.id %}" class="btn btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_user' user_id=u.id %}" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr><td>No User Data</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <a href="{% url 'create_user' %}" class="float">
                            <i class="fa fa-plus my-float"></i>
                        </a>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->


    </div>
{% endblock %}